<%= image_tag @portfolio_item.main_image %>
<%= link_to 'Edit', edit_portfolio_path %>
<h1><%= @portfolio_item.title %></h1>

<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>


<h2> Technologies used </h2>
<% @portfolio_item.technologies.each do |tech| %>
	<p><%= tech.name %></p>
<% end %>